<div class="text-center">
  <h1 class="my-5">ご利用ガイド</h1>
</div>
<h2>会員登録</h2>
<p>
  Mart-Piaにて商品を注文していただくには、会員登録が必要です。<br>
  新規会員登録ページは<%= link_to 'こちら', new_customer_path %>。<br>
  入会費・年会費は無料です。
</p>
<h2>お買い物方法</h2>
<h3>1. お店を選ぶ</h3>
<p>
  店舗一覧ページから、注文したいお店を選択してください。<br>
  選んだお店の詳細ページにて、「このお店でお買い物をする！」ボタンを押すことで、お買い物を始めることができます。
</p>
<h3>2. 商品をカートに入れる</h3>
<p>
  注文したい商品をカートに入れてください。<br>
  それぞれの商品の注文する個数は、カート内容ページにて変更できます。<br>
  複数のお店の商品を同じカートに入れることはできません。
</p>
<h3>3. 受け取り方法・お支払い方法を選択する</h3>
<p>
  カート内容をご確認いただいた後、受け取り方法とお支払い方法を選択してください。<br>
  受け取り方法は、「登録されている住所に配送」または「店頭で受け取り」の2種類から選択可能です。<br>
  お支払方法は、「クレジットカード」または「代金引換」の2種類から選択可能です。
</p>
<h3>4. 商品を受け取る</h3>
<p>
  注文が完了すると、注文番号が発行されます。<br>
  店頭で商品を受け取る際は、レジにて注文番号をお申し付けください。<br>
  注文番号は、注文完了ページ、注文完了メール、注文履歴の詳細ページにてご確認いただけます。
</p>
<h2>商品のキャンセル</h2>
<p>ご注文いただいた商品のキャンセルは原則としてできません。ご了承ください。</p>
<h2>欠品の場合の対応</h2>
<p>ご注文いただいた商品が欠品の場合、誠に恐れ入りますが店舗側から注文個数を減らす、または商品のキャンセルといった対応をさせていただきます。ご了承ください。</p>
