<div class="text-center">
  <img src="/top.jpg" alt="トップページ画像" width="800" height="400">
  <p class="mt-5 h4">お店で販売している商品をインターネットで注文！</p>
  <p class="mt-5 h4">注文した商品は配送または店頭で受け取り可能！</p>
  <p class="mt-5 h4">注文可能な店舗はこちら！</p>
  <%= link_to '店舗一覧', stores_path, class: 'btn btn-primary mt-5 w-25' %>
</div>
