<footer class="footer text-center d-flex align-items-center">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">ご利用ガイド</li>
      <li class="list-inline-item">お問い合わせ</li>
    </ul>
  </div>
</footer>
