<footer class="footer text-center d-flex align-items-center">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item"><%= link_to 'ご利用ガイド', guides_path %></li>
      <li class="list-inline-item">お問い合わせ</li>
    </ul>
  </div>
</footer>
